---
layout: landing
title: Home
---

<div class="ui feature vertical segment">
  <div class="ui centered page grid">
    <div class="fourteen wide column">
      <div class="ui three column center aligned stackable divided grid">
        <div class="column">
          <div class="ui icon header">
            <i class="purple github icon"></i>
            Import existing data
          </div>
          <p>We import 2 years of your AVETMISS NAT files or Excel (csv) files for free.</p>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="purple code icon"></i>
            Designed for First Aid Training Companies
          </div>
          <p>Customised for those organisations that deliver First Aid/CPR and related courses.</p>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="purple thumbs up icon"></i>
            Low Cost License
          </div>
          <p>Don't pay per customer nor per user, one flat license fee.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical segment black-shine-gradient">
  <div class="ui stackable page grid">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui inverted header">A Student Management System designed for you</h3> 
        <h4 class="ui inverted header">
        Registration, Payment & First Aid Test at once.
        </h4>
        <h4 class="ui inverted header">
        Trainers can update outcomes.
        </h4>
        <h4 class="ui inverted header">
        Private course students sign up via your website.
        </h4>
        <h4 class="ui inverted header">
        Automatically validate & correct USIs.
        </h4>
        <h4 class="ui inverted header">
        Sell products during the registration.
        </h4>
      </div>
      <div class="eight wide column">
        {% include feature-post.html %}        
      </div>
    </div>
  </div>
</div>


<div class="ui feature vertical segment">
  <div class="ui centered page grid">
    <div class="fourteen wide column">
      <div class="ui three column center aligned stackable divided grid">
        <div class="column">
          <div class="ui icon header">
            <i class="purple mobile icon"></i>
            Free Open Support
          </div>
          <p>All licenses get free ticketed support with open response times.</p>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="purple bug icon"></i>
            Unlimited Customers
          </div>
          <p>Don't pay a success tax: more customers means you pay no more.</p>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="purple rocket icon"></i>
            Online Bookings
          </div>
          <p>Website plugins included in all licenses (and the API!)</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui inverted vertical segment">
  <div class="ui centered page grid">
    <div class="fourteen wide column">
      <div class="ui five column center aligned stackable inverted divided grid">
        <div class="column">
          <a class="ui small blue inverted statistic" href="/apps/">
            <div class="text value">
              unlimited
            </div>
            <p class="label">
              Customers
            </p>
          </a>
        </div>
        <div class="column">
          <a class="ui small purple inverted statistic pagebar" href="#">
            <div class="text value">
             >100
            </div>
            <div class="label">
              Email Templates
            </div>
          </a>
        </div>
        <div class="column">
          <a class="ui small blue inverted statistic" href="/embeds/">
              <div class="text value">
              UNLIMITED
            </div>
            <div class="label">
              Courses
            </div>
          </a>
        </div>
        <div class="column">
          <a class="ui small orange inverted statistic" href="{% post_url /blog/2014-12-15-content-strategy-for-startup-websites %}">
            <div class="text value">
              2 weeks
            </div>
            <div class="label">
              Up & Running
            </div>
          </a>
        </div>
        <div class="column">
          <a class="ui small blue inverted statistic" href="/category/#theme">
            <div class="value">
              <i class="student icon"></i> {{ site.categories.theme | size  }}
            </div>
            <div class="label">
              Tutorials
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical segment">
  <div class="ui centered page stackable divided grid">
    <div class="row">
      <div class="column">
        <h1 class="center aligned ui header">
          Learn how your business could benefit
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="eight wide column">

        <h3 class="ui header">Tags</h3>
          {% include site-tags.html %}

      </div>

      <div class="eight wide column">

        <h3 class="ui header">Categories</h3>
          {% include site-categories.html %}

      </div>

    </div> <!-- /row -->
  </div>
</div>

